
<a href="/employer/addOffer" class="btn btn-success">+ Agregar oferta</a>
<h2>Ofertas posteadas:</h2>
<div class="row">
{{#each offerList}}
<div class="col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{this.offerName}}</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Competencias:</li>
        <ul>
          {{#each this.competencies}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <li>min exp: <strong>{{this.minExperience}}</strong>  | max exp: <strong>{{this.maxExperience}}</strong> </li>
        <li>Salario: {{this.salary}}</li>
        <li>Certificados:</li>
          <ul>
            {{#each this.certificates}}
            <li>{{this}}</li>
          </ul>
        {{/each}}
      </ul>
    </div>

  </div>
</div>
{{/each}}
</div>
